@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Bree+Serif&family=Lato:ital,wght@1,300&family=Montserrat:wght@300&family=Oswald:wght@300&family=Poppins&display=swap');
$lightblue: rgb(184, 232, 238); // creating a variable for background color 

* {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    justify-content: center;
    // Theme1// background: url(https://img.freepik.com/free-vector/watercolor-stains-abstract-background_23-2149107181.jpg?w=1060&t=st=1667314590~exp=1667315190~hmac=e5ca4f4f6027d1a44ed4f4f428b2d223856f9c69159f69e136bb723ae710a473)no-repeat center center/cover;
    // background: url("./img/bg.png")no-repeat center center/cover;
    // Theme2
    // background: url(https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2149005675.jpg?w=1060&t=st=1667314393~exp=1667314993~hmac=e7c3e08d2afab14b622468ecac59203a8d4c2816726036228cf9bd9d46bcd25b)no-repeat center center/cover;
    // background: url(https://whvn.cc/4lk9rl)no-repeat center center/cover;
    

    /* global 94%+ browsers support */
    // background: linear-gradient(143deg, rgba(133, 122, 213, 1) 0%, rgba(52, 222, 243, 1) 50%, rgba(255, 207, 255, 1) 100%);

    
        /* global 92%+ browsers support */
        background: radial-gradient(circle at 49% 50%, rgba(133, 122, 213, 1) 0%, rgba(52, 222, 243, 1) 50%, rgba(133, 122, 213, 1) 99%, rgba(255, 207, 255, 1) 100%);
    



    .container {
        width: 100%;


        .link {
            text-decoration: none;
            color: inherit;
        }

        .userlog {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;

            // background-color: $lightblue;

            h1 {
                font-size: 40px;
                color: black;
                margin-bottom: 20px;

            }

            form {

                display: flex;
                flex-direction: column;
                background-color: #fff;
                border: 1px solid rgb(83, 72, 72);
                width: 25vh;
                height: 24vh;
                padding: 50px;
                border-radius: 40px;
                gap: 20px;

                input {

                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid rgb(87, 63, 63);
                    outline: none;
                }

                button {
                    padding: 10px;
                    border: none;
                    background-color: black;
                    color: white;
                    cursor: pointer;
                }

                span {
                    font-size: 12px;
                    text-align: center;
                }
            }

        }


        // Navbar Section 
        .navbar {
            padding: 0px 30px;
            margin-bottom: 20px;

            .container {
                padding: 10px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 17px;
                font-weight: 600;

                .logo {
                    img {
                        height: 10vh;
                        width: 15vh;
                        margin: 0px 20px;
                        //    filter: opacity(25%);
                    }
                }

                .links {
                    display: flex;
                    gap: 30px;
                    align-items: center;

                    h6 {
                        font-size: 17px;
                        font-weight: 800;
                        color: rgb(4, 23, 32);
                        // font-family: 'Baloo Bhai 2', cursive;
                        // font-family: 'Bree Serif', serif;
                        // font-family: 'Lato', sans-serif;
                        // font-family: 'Montserrat', sans-serif;
                        // font-family: 'Oswald', sans-serif;
                        font-family: 'Manrope', sans-serif;
                    }

                    h6:hover {
                        color: rgb(208, 195, 222);

                    }

                    span {
                        cursor: pointer;
                        color: black;
                        font-family: 'Poppins', sans-serif;

                    }

                    .login {
                        text-decoration: none;
                        color: rgb(4, 23, 32);
                        font-weight: 800;
                        font-family: 'Manrope', sans-serif;
                        

                        &:hover {
                            color: rgb(222, 220, 234);
                        }
                    }

                    span:hover {
                        color: rgb(224, 223, 236);
                    }

                    .write {
                        background-color: $lightblue;
                        width: 9vh;
                        height: 40px;
                        border-radius: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgb(0, 0, 0);
                        color: white;
                        border: 1px solid white;

                        &:hover {
                            color: black;
                            background-color: rgb(255, 255, 255);
                            border: 1px solid black;
                        }
                    }
                }

            }
        }

        // Footer Section 
        .footer {
            margin-top: 10vh;
            padding: 20px;
            background-color: rgb(16, 3, 23);
            color: white;



            .welcome {
                text-align: center;
                border-bottom: 1px solid gray;
                padding-bottom: 4vh;
                padding-top: 2vh;
            }

            .part {
                display: flex;
                flex-direction: row;
                margin: 20px 10px;
                padding-bottom: 20px;
                border-bottom: 1px solid gray;

                .boy {
                    margin-right: 20vh;

                    // background-color: #fff;
                    img {
                        height: 20vh;
                        width: 30vh;
                        padding: 0px 20vh;
                        margin: 5vh 0px;

                        border-right: 1px solid grey;
                    }
                }

                .message {
                    display: flex;
                    flex-direction: column;

                    p {
                        padding: 12px 4px;
                        margin: auto auto;
                        padding-left: 20vh;

                        h2 {
                            margin-bottom: -1px;
                        }

                        margin-bottom: 40px;
                    }

                    .content {
                        text-decoration: none;
                        text-align: center;
                        padding-left: 20vh;
                        margin-bottom: 30px;

                        ion-icon {
                            color: white;
                            font-size: 30px;
                            padding: 2px 4px;
                            text-decoration: none;

                        }


                    }
                }
            }

            p {
                padding-top: 20px;
                text-align: center;
            }


        }

        // Home Section 
        .home {

            padding: 10px 20vh;

            .posts {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;
            }

            .post {
                display: flex;
                gap: 100px;


                &:nth-child(2n) {
                    // This funtion will make even id image on right and odd id image on left if its 2n+1 the wise versa 
                    flex-direction: row-reverse;
                }

                .img {
                    flex: 2;
                    position: relative; // if we dont give pos relative then it will cover whole space because for this parent will be container

                    img {
                        width: 40vh;
                        max-height: 400px;
                        height: 30vh;
                        object-fit: cover; // this will crop our image properly 
                        border-radius: 30px;
                    }
                }

                .content {
                    flex: 3;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    height: 35.5vh;
                    width: 20vh;
                    h1 {
                        font-size: 48px;
                    }

                    p {
                        font-size: 15px;
                        overflow: hidden;
                        
                    }

                    .button {
                        width: max-content;
                        padding: 10px 20px;
                        border: none;
                        cursor: pointer;
                        background-color: black;
                        border: 1px solid black;
                        color: white;
                        font-size: 13px;
                        text-decoration: none;
                        border-radius: 20px;

                        &:hover {
                            border: 1px solid black;
                            background-color: rgb(39, 36, 36);
                            color: white;
                        }
                    }
                }
            }
        }

        // Single Section 
        .single {
            padding: 5vh 10vh;
            display: flex;
            gap: 50px;


            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                grid-template: 30px;
                margin-bottom: 10vh;

                img {
                    width: 100%;
                    height: 400px;
                    object-fit: inherit;
                    margin-bottom: 10px;
                    border-radius: 20px;

                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        font-weight: bold;

                    }

                }

                .edit {
                    display: flex;
                    gap: 5px;

                    img {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }

                h1 {
                    font-size: 42px;
                    color: #333;
                }

                p {
                    text-align: justify;
                    line-height: 30px;
                }

            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1 {
                    font-size: 20px;
                    color: #555;
                }

                .post {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;


                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                        border-radius: 20px;
                    }

                    h2 {
                        color: #555;
                    }

                    .button {
                        width: max-content;
                        padding: 10px 20px;
                        border: none;
                        cursor: pointer;
                        background-color: black;
                        border: 1px solid black;
                        color: white;
                        font-size: 13px;
                        text-decoration: none;
                        border-radius: 20px;

                        &:hover {
                            border: 1px solid black;
                            background-color: rgb(39, 36, 36);
                            color: white;
                        }
                    }
                }
            }
        }

        // Write Section 

        .add {
            margin-top: 30px;
            display: flex;
            gap: 20px;
            padding: 10vh 20vh;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input {
                    padding: 10px;
                    border: 1px solid black;
                    background-color: rgb(221, 245, 255);
                }

                .editorContainer {
                    height: 48vh;
                    overflow: scroll;
                    border: 1px solid black;
                    background-color: rgb(221, 245, 255);

                    .editor {
                        height: 100%;
                        border: none;
                        border: black;

                    }
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;
                color: balck;

                .item {
                    border: 1px solid black;
                    padding: 10px;
                    flex: 1; //   to make size of item section i1 and i2 same 
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 12px;
                    color: black;


                    h1 {
                        font-size: 20px;

                    }

                    .file {
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    .buttons {
                        display: flex;
                        justify-content: space-between;

                        :first-child {
                            // firstbutton
                            cursor: pointer;
                            color: white;
                            background-color: black;
                            border: 1px solid black;
                            padding: 3px 5px;
                            border-radius: 20px;
                        }

                        :last-child {
                            // firstbutton
                            cursor: pointer;
                            color: white;
                            background-color: rgb(43, 140, 165);
                            border: 1px solid black;
                            width: 10vh;
                            height: 3vh;
                            padding: 3px 5px;
                            border-radius: 20px;
                        }
                    }

                    .cat {
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        color: #333;
                    }

                }
            }
        }


        // About Section 
        .about {

            padding: 0px 30px;

            h2 {
                text-align: center;
            }

            .image {
                padding: 10px 79vh;

                img {

                    height: 80px;
                    width: 120px;
                }

                @keyframes rotation {
                    from {
                        transform: rotate(0deg);
                    }

                    to {
                        transform: rotate(359deg);
                    }
                }

                .img2 {
                    animation: rotation 4s infinite linear;
                }
            }

            .aboutme {
                text-align: center;
                padding: 20px 0px;
            }

            h1 {
                margin: 30px;
                text-align: center;
            }

            .acontent {
                padding: 20px 20px;

                .cont1 {
                    .content {
                        padding: 10px 14px;
                        display: flex;
                        flex-direction: column;

                        .con1 {
                            padding: 12px 14px;
                            height: 25vh;
                            width: 60vh;
                            background-color: rgb(234, 187, 187);
                        }

                        .con2 {
                            padding: 12px 14px;
                            height: 25vh;
                            width: 60vh;
                            background-color: rgb(234, 187, 187);
                            margin-left: auto;
                        }

                        .con3 {
                            padding: 12px 14px;
                            height: 25vh;
                            width: 60vh;
                            background-color: rgb(234, 187, 187);
                        }

                        .con4 {
                            padding: 12px 14px;
                            height: 25vh;
                            width: 60vh;
                            background-color: rgb(234, 187, 187);
                            margin-left: auto;
                        }

                        .con5 {
                            padding: 12px 14px;
                            height: 28vh;
                            width: 60vh;
                            background-color: rgb(234, 187, 187);

                        }
                    }
                }

                .cont2 {
                    .content {
                        padding: 10px 14px;
                        display: flex;
                        flex-direction: column;

                        .con1 {
                            padding: 12px 14px;
                            height: 25vh;
                            width: 60vh;
                            background-color: rgb(234, 187, 187);

                        }

                        .con2 {
                            padding: 12px 14px;
                            height: 25vh;
                            width: 60vh;
                            background-color: rgb(234, 187, 187);
                            margin-left: auto;

                        }

                        .con3 {
                            padding: 12px 14px;
                            height: 25vh;
                            width: 60vh;
                            background-color: rgb(234, 187, 187);

                        }

                        .con4 {
                            padding: 12px 14px;
                            height: 25vh;
                            width: 60vh;
                            background-color: rgb(234, 187, 187);
                            margin-left: auto;

                        }

                        .con5 {
                            padding: 12px 14px;
                            height: 32vh;
                            width: 60vh;
                            background-color: rgb(234, 187, 187);

                        }

                        .con6 {
                            padding: 12px 14px;
                            height: 25vh;
                            width: 60vh;
                            background-color: rgb(234, 187, 187);
                            margin-left: auto;

                        }

                        .con7 {
                            padding: 12px 14px;
                            height: 34vh;
                            width: 60vh;
                            background-color: rgb(234, 187, 187);

                        }
                    }
                }
            }
        }
    }
}